.inquiry-details-container {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 15px;
    margin-block: 10px;
}

.action-btn {

   width: 100%;
   display: flex;
   justify-content: flex-end;
   margin-bottom: 20px;
}



.btn-width{
    width: 123px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.btn-style{
    cursor: pointer;
    float: right;
    width: 20px;
}
.AddMore{
    background-color: var(--primary-color);
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    color: var(--primary-font-color);
    font-size: 13px;
    cursor: pointer;
}
