/* Catelogue List */
.main-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.product-container-modal {
    margin: 5px;
    width: 200px;
    height: 170px;
    cursor: pointer;
    /* border: 1px groove var(--ternary-color); */
    border: 1px solid #e8e8e8;
    /* background-color: var(--primary-font-color); */
    background-color: var(--primary-color);
    border-radius: 8px;

}

.product-image {
    height: 130px;
    width: 100%;

}

.product-image img {
    background-size: cover;
    height: 130px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.product-details {
    /* height: fit-content; */
    width: 100%;
    padding: 5px;
    /* background-color: var(--primary-color); */
    color: var(--primary-font-color);
    /* color: black; */
    
}


/* Catelogue Single Data  */

.primary-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(-secondary-color);

}

.other-images-container {
    /* width: 10%; */

    align-items: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: var(--secondary-color); */
    padding: 10px;
}

.other-images img {
    width: 150px;
    padding: 10px;
}

.images-container {
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-container img {
    width: 300px;
    height: auto;
    margin: 5px;
}

.details-container {
    width: 70%;
}

.details-container h2 {
    /* margin-block: 25px; */
    border-bottom: 1px groove #c8c8c8;
}

.detail-container {
    display: flex;
    margin-block: 30px;
    justify-content: flex-start;
}

.left-detail-container {
    /* background-color: red; */
    width: 35%;
    padding: 10px
}

.middle-container {
    width: 35%;
    padding: 10px
}

.right-detail-container {
    width: 35%;
    padding: 10px
}

.detail-label {
    display: block;
    padding: 5px 0px;
    font-size: 15px;
}

.datasheet-container {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 10px;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.certificate-container {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 10px;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.registration-flex {
    display: flex;
}


.bottom-detail-container {
    border-top: 1px solid #c8c8c8;
}


.pdf-icon {
    color: brown;
    font-size: 80px;
}

.pdfs {
    display: flex;
}

.pdf-container {
    padding: 5px;
    /* border: 1px groove var(--primary-color); */
    margin-block: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    width: max-content;
    cursor: pointer;
    flex-direction: column;
    gap: 8px;
}

.pdf-container a {
    color: var(--secondary-font-color);
    font-weight: bold;
    font-size: 13px;
    width: 100px;
    word-wrap: break-word;

}