.details-container{
    display: flex;
    flex-direction: column;
}
.action-btn{
    float : right;
}
.estimation-inquiry-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
/* .estimation-inquiry-details{
    width: 109px;
    
} */

.enquiry-details-table{
   /* border: 1px solid black; */
    width: 100%;
    margin-block: 10px;
}

.enquiry-details-table thead{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-size: 15px;    
}
.enquiry-details-table thead tr th{
    border: 1px solid #e8e8e8;
}
.enquiry-details-table tbody tr td{
    border: 1px solid #e8e8e8;
}
.enquiry-details-table thead tr th{
    padding: 10px;
    /* width: 20px; */
}

.enquiry-details-table tbody td{
    /* width: 100%; */
    padding:  5px;
}

.estimation-resouce-details{
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    /* margin: 10px; */
}

.estimation-resouce-list{
    width: 130px;
    margin: 8px;
    float: right;
}

.modal-data-container-catelogue{
    padding: 20px;

}

.table-estimation{
    padding-block: 20px;
}

.top-product-container-estimation{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}