
.registration-card-container .registrationCard a {
  align-items: center;
  border: 1px solid #7c5e1e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: .4rem;
  position: relative;
  transition: all all .3s;
  color: black;
}

.registration-card-container .registrationCard a>div:first-child {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-card-container .registrationCard a p {
  height: 55px;
  object-fit: fill;
  width: 55px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.registration-card-container .registrationCard a>div:first-child span {
  font-size: .8rem;
  font-weight: 600;
  transition: all .2s linear;

}


.registration-card-container .registrationCard a>div:nth-child(2) {
  align-items: center;
  background-color: #e7e2d5;
  border-radius: 5px;
  display: flex;
  font-size: .8rem;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 1%;
  top: 1%;
  transition: all .3s linear;
  width: 30px;
}
.registration-card-container .registrationCard:hover {
  background-color: #f1f0e8;
}

.registration-card-container .registrationCard a span {
  color: var(--primary_color);
}