
/* Card.css */
.card-data-container {
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 400px;
    height: 160px;
    background-size: cover;
    border: 1px solid #e8e8e8;
  }
  
  .card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;
  }
  
  .card-content {
    padding: 16px;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;

  }
  
  .card-image {
    max-width: 60px;
    border: 1px solid #e8e8e8;
    height: 60px;
    border-radius: 8px;
    padding: 8px;
}
  .card-title {
    /* margin-top: 12px; */
    /* font-size: 18px; */
    font-weight: bold;
  }
  
  .card-count {
    /* background-color: var(--primary-color); */
    color: black;
    /* text-align: center; */
    padding: 8px 25px;
    font-weight: bold;
  }
  
 
