/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

/* .Search-box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 20px;
  font-family: "Poppins";
  color: #221d19;
  font-size: 20px;
  width: 80%;
}

.Search-box input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #333;
  border: 1px solid #221d19;
}

.Search-box input::placeholder {
  color: #999;
}

.Search-box input:hover {
  background-color: #e0e0e0;
}

.Search-box input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #564c41;
  border: none;
} */

.header_search {
  display: inline-flex;
  flex: 1;
  align-items: center;
  border: 1px groove;
  /* margin-inline: 10px; */
}

.header_search input {
  height: 30px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  padding: 5px;
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  height: 30px !important;
}