.all-procuct-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-container {
    width: 250px;
    height: 150px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    background-color: var(--primary-font-color);
    border-radius: 8px;
}

.td_column{
    background-color: red   ;
}