.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.log-container {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  font-family: "Poppins", sans-serif;
  border: 1px groove #e8e8e8;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  /* padding: 10px; */

}

.userlog {
  display: flex;
  flex-direction: column;
}

.userlog-heading {
  position: sticky;
  top: 0;
  /* background-color: var(--primary-color); */
  /* color: white; */
  color: black;
  padding: 10px;
  z-index: 1;
}

.userlog-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 13px;
  overflow-y: auto;
  max-height: 60vh;
}
.userlog-data p {

  /* border-bottom: 1px groove #e8e8e8; */
}