.registration-card-container {
  grid-gap: 1.2rem;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
  margin: 2rem 0;
  position: relative;
  width: 100%;
}
