/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Ubuntu:wght@300;400;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto&family=Ubuntu:wght@300;400;500&display=swap');


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
}



a {

  font-weight: 500;

  color: #646cff;

  text-decoration: inherit;

}

a:hover {
  color: #535bf2;
}





h1 {

  font-size: 3.2em;

  line-height: 1.1;

}

button {
  border-radius: 7px;
  border: 1px solid transparent;
  padding: 0.5rem 1.2rem;
  font-size: 14.5px;
  font-weight: 500;
  font-family: inherit;
  background-color: #7b5c1b;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  text-align: center;
}



button:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-weight: bolder;
}

.secondary-btn{
  border-radius: 7px;
  border: 1px solid #e8e8e8;
  padding: 0.4rem;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-font-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

  padding: 10px 14px !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  
  border-radius: 8px !important;
}

label {
  font-size: 12px;
  font-weight: bold;
}

/* Dropdown mui */
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  
  padding: 9.5px 14px !important;
}

.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {

  border-radius: 8px !important;
}

.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 2px !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {

  border-radius: 8px !important;

}
/* .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 14px !important;
} */
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 14px !important;
}
.border-bottom-heading{
  border-bottom: 2px solid var(--primary-color);
}

.upload-files-field{
width: 100%;
 border:1px solid #b2b2b2;
 padding: 9px;
 border-radius:5px 
}



.form-wrapper-container {
  background-attachment: fixed;
  background-color: #fff;
  background-image: url(/src/assets/Right_bg.png);
  background-size: 100%;
}